<!DOCTYPE html>

<html>

    <head>
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        {{>title}}
    </head>

    <body>
    {{>header}}
        <h1>Sinan Dik</h1>
        <p>Acayip bi şeyler</p>


        {{>footer}}
    </body>


</html>
